body {
    
}

#map {
    height: 50vh;
    width: 50%;
    margin-top: 10rem;
    position: fixed;
}

.star {
    background: url('https://img.icons8.com/ios/452/star.png') no-repeat center center;
    width: 32px;
    height: 32px;
    background-size: contain;
    cursor: pointer;
}

.circle {
    background-color: rgb(83, 117, 230);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#image-popup {
    position: relative;
    z-index: 2;
    top: 20px;
    left: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#image-popup img {
    max-width: 100%;
    max-height: 400px;
}