.qrcode_page_content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}
